//
// "base" partial
//


//////////////////////////////////

//
// Breakpoints
//

// Smartphone
$bp-smartphone: 320px;
$bp-smartphone_only: 320px 767px;
$bp-smartphone_landscape: 480px;
$bp-smartphone_landscape_only: 480px 767px;

// Tablet
$bp-tablet: 768px;
$bp-tablet_only: 768px 979px;

// Desktop
$bp-desktop: 980px;

// 2x device pixel
$bp-hi-rez: 2 device-pixel-ratio;


//////////////////////////////////

// Max width of page (Change as needed)
$max-width: 940px;


//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page. You can see some of its mixins and functions in
// use in the normalize.scss file.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size:   14px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.75 * $base-font-size;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;


// Google Fonts
$font-body: 'Exo', sans-serif;
$font-header: 'Arbutus', sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $font-body; // The font family set on the html element.
$font-body:        $font-body;
$font-monospace:   $courier;


//
// Colors, etc.
//


// Colors
$black: #000;
$blue: #27b5e9;
$brown: #23160c;
$dark: #231f20;
$white: #fff;

// Colors - Grays
$gray: #ccc;
$gray-light: #f2f2f2;
$gray-medium: #dedede;
$gray-dark: #595959;

// Green
$green: #63a430;
$green-medium: #94cd46;



// The amount lists, blockquotes and comments are indented.
$indent-amount: 30px;


//
// Partials to be shared with all .scss files.
//

@import "compass/support";  // Add Compass' IE and vendor prefix support variables.
@import "compass/utilities/general/clearfix"; // Better than Drupal's clearfix.
@import "compass/utilities/sprites"; // See http://compass-style.org/help/tutorials/spriting/
@import "compass/css3";     // Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/typography/vertical_rhythm"; // Helps set up a vertical rhythm.

@import "grid/gridset";  // Import GridSet grid
@import "rgbapng";					// RGBApng
@import "breakpoint";       // Import Breakpoint

@import "custom";           // Import our custom mixins last.