@import "base";


// Page
.wrapper {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 10px;
}


// Kid
@include gs-media(k) {

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content {
      @include gs-float(k, left);
      @include gs-span(k, 1, 1);
    }
    .region-sidebar-first {
      @include gs-float(k, left);
      @include gs-span(k, 1, 1);
    }
    .region-sidebar-second {
      display: none;
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content {
      @include gs-float(k, left);
      @include gs-span(k, 1, 1);
    }
    .region-sidebar-first {
      display: none;
    }
    .region-sidebar-second {
      @include gs-float(k, left);
      @include gs-span(k, 1, 1);
    }
  }

   /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content {
      @include gs-float(k, left);
      @include gs-span(k, 1, 1);
    }
    .region-sidebar-first {
      @include gs-float(k, left);
      @include gs-span(k, 1, 1);
    }
    .region-sidebar-second {
      @include gs-float(k, left);
      @include gs-span(k, all); // Clear sidebar and content and span full width
    }
  }
}


// Mama
@include gs-media(m) {

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content {
      @include gs-float(m, left);
      @include gs-span(m, 1, 1);
    }
    .region-sidebar-first {
      @include gs-float(m, left);
      @include gs-span(m, 1, 1);
    }
    .region-sidebar-second {
      display: none;
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content {
      @include gs-float(m, left);
      @include gs-span(m, 1, 1);
    }
    .region-sidebar-first {
      display: none;
    }
    .region-sidebar-second {
      @include gs-float(m, left);
      @include gs-span(m, 1, 1);
    }
  }

   /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content {
      @include gs-float(m, left);
      @include gs-span(m, 1, 1);
    }
    .region-sidebar-first {
      @include gs-float(m, left);
      @include gs-span(m, 1, 1);

    }
    .region-sidebar-second {
      @include gs-float(m, left);
      @include gs-span(m, 1, 1);
    }
  }
}


// Big fella
@include gs-media(bf) {

  /*
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    #content {
      @include gs-float(bf, left);
      @include gs-span(bf, 1, 1);
    }
    .region-sidebar-first {
      @include gs-float(bf, left);
      @include gs-span(bf, 1, 1);
    }
    .region-sidebar-second {
      display: none;
    }
  }

  /*
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    #content {
      @include gs-float(bf, left);
      @include gs-span(bf, 1, 1);
    }
    .region-sidebar-first {
      display: none;
    }
    .region-sidebar-second {
      @include gs-float(bf, left);
      @include gs-span(bf, 1, 1);
    }
  }

   /*
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    #content {
      @include gs-float(bf, left);
      @include gs-span(bf, 1, 1);
    }
    .region-sidebar-first {
      @include gs-float(bf, left);
      @include gs-span(bf, 2, 2);
    }
    .region-sidebar-second {
      @include gs-float(bf, left);
      @include gs-span(bf, 3, 3);
    }
  }
}