/**
 * @file
 * Search Styling
 */

@import "base";







body.page-search {
  h1#page-title {
    color: $blue;
    margin-bottom: .5em;
    text-align: center;
  }
}

#search-form {
  margin-bottom: 1em;
  text-align: center;

  #edit-basic {
    label {
      display: block;
      margin-bottom: .5em;
    }
  }
}


.search-results-wrapper {
  margin-bottom: 2em;
  text-align: center;

  .section-hr {
    margin-bottom: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: left;

    li {
      margin: 0;
      padding: 0;
    }
  }
}






// Column listings
ol.search-results {
  color: $dark;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    background: $white;
    border: 1px solid #ccc;
    @include border-radius(7px);
    @include box-shadow(rgba(0,0,0, .125) 0 0 5px 2px);
    list-style: none;
    margin: 0 auto 20px auto;
    padding: 0;
    vertical-align: top;
    width: 300px;

    @include breakpoint($bp-tablet-only) {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin-right: 13px;

      &:nth-child(2n+2) {  
        margin-right: 0;
      }

      &.views-row-last {
        margin-right: 0;
      }
    }

    @include breakpoint($bp-desktop) {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      margin-right: 13px;

      &:nth-child(3n+3) {  
        margin-right: 0;
      }

      &.views-row-last {
        margin-right: 0;
      }
    }

    img {
      @include border-top-radius(6px);
    }
  }

}